body, html{
    padding: 0;
    margin: 0;
    font-size: 1.05rem;
    font-family: 'Ubuntu', sans-serif;
}

p, li {
    color: #4d4e53;
    padding: 0 40px;
}
ul {
    padding-left: 5rem;
}
li {
    padding-left: 0.5rem;
}

.code {
    padding: 20px;
    /* height: 20px; */
    margin: auto;
    width: 80%;
    background-color: #F7F7F7;
}

nav {
    position: absolute;
    width: 24%;
    height: 100vh;
    overflow-y: scroll;
}

main {
    position: absolute;
    width: 75%;
    height: 100vh;
    overflow-y: scroll;
    right: 0;
}

@media screen and (max-width:800px) {
    nav {
        width: 100%;
        height: 250px;
        border: 2px solid black;
    }
    main {
        width: 100%;
        top: 255px;
        height: auto;
    }
}

nav header a {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 100%;
    
}
nav header {
    border-bottom: 1px solid black;
    background-color: #F0DB4F;
}

.nav-link {
    width: 100%;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 15px;
    padding-left: 30px;
    font-weight: bold;
    color: #4d4e53;
}
nav h1 {
    margin: 0;
    padding: 25px 0;
}

main {
    scroll-behavior: smooth;
}